@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap");
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--dark-blue: #1f2937;
	--off-white: #e5e7eb;
	--light-blue: #3882f6;
	--black-text: #1f2937;
	--just-white: #f9faf8;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
	font-family: "Roboto", sans-serif;
}
header {
	height: auto;
	max-width: 100%;
	padding: 20px 15vw;
	background-color: var(--dark-blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main-section {
	padding: 20px 15vw;
}
header .header-logo {
	font-size: 2.4rem;
	font-weight: bold;
	color: var(--just-white);
}
.nav-bar {
	width: 450px;
}
.nav-bar ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar li {
	list-style: none;
}
.nav-link {
	text-decoration: none;
	font-size: 1.8rem;
	color: var(--off-white);
	font-weight: 300;
	position: relative;
}
.nav-link::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background-color: var(--light-blue);
	transform: scale(0);
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
.nav-link:hover::after {
	transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
}
.welcome-section {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: var(--dark-blue);
}
.title-container {
	padding-right: 20px;
	max-width: 50%;
}
.title-container h1 {
	font-size: 4.8rem;
	font-weight: bolder;
	color: var(--just-white);
	margin: 0;
}
.title-container p {
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--off-white);
	line-height: 2.3rem;
}
.title-container a {
	display: inline-block;
	margin-top: 20px;
	background-color: var(--light-blue);
	text-align: center;
	padding: 1rem 4rem;
	font-size: 1.8rem;
	font-weight: bold;
	text-decoration: none;
	color: var(--just-white);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	box-shadow: 0 4px 3px hsl(215, 28%, 10%);
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
.title-container a:hover {
	background-color: var(--just-white);
	color: var(--light-blue);
}
.img-container {
	max-width: 50%;
	margin-left: 20px;
	position: relative;
}
.img-container img {
	width: 100%;
}
.info-section {
	height: auto;
	padding-bottom: 140px;
}

.info-section .info_title {
	margin-top: 40px;
	text-align: center;
	font-size: 3.6rem;
	font-weight: bolder;
	color: var(--black-text);
}
.info-section .card-container {
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	gap: 30px;
}

.info-section .info-card {
	position: relative;
	top: 0;
	max-width: 200px;
	background-color: #fafafa;
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 8px hsl(220, 13%, 70%);
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
.info-section .info-card:hover {
	top: 15px;
}
.info-card img {
	max-height: 180px;
	width: 90%;
	margin: 10px auto;
	box-shadow: 0 2px 2px hsl(220, 13%, 70%);
}
.info-card p {
	text-align: center;
	width: 90%;
	margin: 0 auto;
	border-top: 3px solid var(--light-blue);
	text-align: center;
	font-size: 1.8rem;
	font-weight: 400;
	color: var(--black-text);
	padding: 10px 10px;
}
.quote-section {
	padding-top: 100px;
	padding-bottom: 100px;
	height: auto;
	background-color: var(--off-white);
}
.quote-container {
	width: 90%;
	margin: auto;
}
.quote-container blockquote {
	text-align: start;
	font-size: 3.6rem;
	font-weight: 300;
	font-style: italic;
	color: var(--black-text);
	line-height: 4.6rem;
}
.quote-container p {
	text-align: right;
	font-size: 2.4rem;
	font-weight: bold;
	color: var(--black-text);
	position: relative;
	right: 80px;
}
.call_to_action-section {
	padding: 100px 15vw;
	height: auto;
}

.call_to_action-section .flex-container {
	width: 100%;
	background-color: var(--light-blue);
	padding: 50px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}
.flex-left {
	flex: 70%;
}
.flex-right {
	flex: 30%;
	text-align: center;
}
.flex-left .title {
	font-size: 2.4rem;
	font-weight: 500;
	color: var(--just-white);
}
.flex-left .subtitle {
	font-size: 1.8rem;
	font-weight: 300;
	color: var(--off-white);
}
.flex-right a {
	text-decoration: none;
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--just-white);
	display: inline-block;
	padding: 6px 30px;
	border: 2px solid var(--just-white);
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
}
.flex-right a:hover {
	background-color: var(--just-white);
	color: var(--light-blue);
}
footer {
	background-color: var(--dark-blue);
	padding: 40px 15vw;
}
footer p {
	width: 100%;
	text-align: center;
	font-size: 1.8rem;
	font-weight: 300;
	color: var(--just-white);
}
